* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* nav-bar style start */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.nav-item ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.nav-item li a {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.nav-item li a img {
    height: 23px;
    color: #3A3A3A;
}

/* banner section start */
.baner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.baner-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.baner-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin: 16px 0 16px 0;
}

.btn {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.baner-img {
    width: 475px;
    height: 475px;
    display: flex;
    align-items: center;
    border: 1px solid #F1E4FF;
    border-radius: 50%;
    margin-top: 80px;
}

.baner-img img {
    width: 440px;
    height: 414px;
}

/* brand style start */
.brand-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0 45px 0;
}

.brand-img img {
    width: 84px;
    height: 26px;
}